<h1><%= @title %></h1>
<table>
  <tr>
    <th>排名</th>
    <th>用户</th>
    <% %>
    <th>通过题目</th>
    <% %>
    <th>罚时(分钟)</th>
    <th>奖品</th>
  </tr>
  <% 
    prize_count_reset
    if @rank.size >= 1 
  %>
    <% rank_counter, rank_shown, last_rank = 1, 1, @rank.first %>
    <% @rank.each do |k, v| %>
      <tr>
        <%
          rank_shown = rank_counter if (last_rank <=> v) != 0
          last_rank = v
          rank_counter += 1
        %>
        <td><%= rank_shown %></td>
        <td><%= link_to v.user_name, :controller => 'users', :action => 'show', :id => v.user_id %></td>
        <td><%= v.solved %></td>
        <td><%= sprintf('%.2f', v.penalty) %></td>
        <td><%= prize_for rank_shown if v.solved > 0 %></td>
      </tr>
    <% end %>
  <% end %>
</table>
<p>比赛名称：<%= @contest.name %><br>
更新时间：<%= @update_time %></p>



