<h1>Listing problems</h1>

<table>
  <thead>
    <th>title</th>
    <th>time limit</th>
    <th>memory limit</th>
    <th>source</th>
    <th></th>
    <th></th>
    <th></th>
  </thead>

<% @problems.each do |problem| %>
  <tr>
    <td><%= problem.title %></td>
    <td><%= problem.time_limit %></td>
    <td><%= problem.memory_limit %></td>
    <td><%= problem.source %></td>

    <td><%= link_to 'Show', problem %></td>
    <td><%= link_to 'Edit', edit_problem_path(problem) %></td>
    <td><%= link_to 'Destroy', problem, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Problem', new_problem_path %>
