<div id='problemInfo' class='rfloat'>
时间限制: <%= @problem.time_limit %> 秒 <br>
内存限制: <%= @problem.memory_limit %> MB <br>
<%= "来源: #{@problem.source}" if @problem.source %>
</div>
<h1><%= @problem.title %></h1>
<div id='problemContent'>
<%= problem_html(@problem).html_safe %>
</div>
<hr>

<%= link_to '提交', :controller => 'submissions', :action => 'new', :problem_id => @problem %>

<% if is_admin? %>
  <hr>
  <%= link_to 'Edit', edit_problem_path(@problem) %> |
  <%= link_to 'List', problems_path %>
<% end %>
