<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Nick</th>
    <th>Group</th>
    <th>Email</th>
    <th>Last login</th>
    <th>Signature</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.nick %></td>
    <td><%= user.group %></td>
    <td><%= user.email %></td>
    <td><%= user.last_login %></td>
    <td><%= user.signature %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
