<h1><%= @title %></h1>

<table>
<tr>
  <td>用户名</td>
  <td><%= @user.mask_name %></td>
</tr>

<tr>
  <td>显示名</td>
  <td><%= @user.nick %></td>
</tr>

<tr>
  <td>所属组</td>
  <td><%= @user.group %></td>
</tr>

<tr>
  <td>邮件</td>
  <td><%= @user.email %></td>
</tr>

<tr>
  <td>签名档</td>
  <td><%= @user.signature %></td>
</tr>
</table>

<%= link_to '返回首页', root_path %>


