<%= form_for(@submission) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  <div class="field">
    <%= f.label :problem_id, '题目ID' %><br />
    <% if params[:problem_id] %>
      <%= f.text_field :problem_id, :value => params[:problem_id] %>
    <% else %>
      <%= f.text_field :problem_id %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :lang, '语言' %><br />
    <%= f.select :lang, ['C'] %>
  </div>
  <% if is_admin? %>
    <div class="field">
      <%= f.label :result, '结果' %><br />
      <%= f.select :result, judge_results %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :code, '代码' %><br />
    <%= f.text_area :code %>
  </div>
  <div class="actions">
    <%= f.submit '提交' %>
  </div>
<% end %>
