<tr>
  <% can_view_details = submission.owner?(current_user) || is_admin? %>
  <td><%= link_to submission.id, submission %></td>
  <td><%= link_to shorten(submission.problem.title), submission.problem %></td>
  <td><%= link_to submission.user.nick, submission.user %></td>

  <td><span class="judgeRes-<%= submission.result %>">
      <% if submission.has_additional_log? and (is_admin? or (submission.owner?(current_user) and submission.result == 2)) %>
        <%= link_to judge_results[submission.result || 0], :controller => "submissions", :action => "log", :id => submission %>
      <% else %>
        <%= judge_results[submission.result || 0] %>
      <% end %>
  </span></td>

  <td><%= submission.created_at.strftime "%Y-%m-%d %H:%M:%S" %></td>
  <td><%= "#{submission.used_memory/10.0}" if submission.used_memory %></td>
  <td><%= "#{submission.used_time}" if submission.used_time %></td>

  <td>
    <% if can_view_details %>
      <%= link_to submission.lang, :controller => "submissions", :action => "source", :id => submission %>
    <% else %>
      <%= submission.lang %>
    <% end %>
  </td>
  <% if is_admin? %>
    <td><%= link_to 'Rejudge', :action => 'rejudge', :id => submission %></td>
    <td><%= link_to 'Edit', edit_submission_path(submission) %></td>
    <td><%= link_to 'Destroy', submission, :confirm => 'Are you sure?', :method => :delete %></td>
  <% end %>
</tr>

