<p id="notice"><%= notice %></p>

<p>
  <b>Problem:</b>
  <%= @submission.problem_id %>
</p>

<p>
  <b>User:</b>
  <%= @submission.user_id %>
</p>

<p>
  <b>Result:</b>
  <%= @submission.result %>
</p>

<p>
  <b>Time:</b>
  <%= @submission.time %>
</p>

<p>
  <b>Used memory:</b>
  <%= @submission.used_memory %>
</p>

<p>
  <b>Used time:</b>
  <%= @submission.used_time %>
</p>

<p>
  <b>Lang:</b>
  <%= @submission.lang %>
</p>

<p>
  <b>Visible group:</b>
  <%= @submission.visible_group %>
</p>

<p>
  <b>Path:</b>
  <%= @submission.path %>
</p>


<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>
