<div id="navibar" class="span-4 colborder">
  <ul>
    <li><%= link_to "首页", root_path %></li>
    <li><%= link_to "比赛列表", contests_path %></li>
    <li><%= link_to "当前排名", ranklist_path %></li>
    <li><%= link_to "最近提交", submissions_path %></li>
    <li><%= link_to "帮助", help_path %></li>
    <% if is_admin? %>
      <hr class="nomarginbottom">
      <li><%= link_to "题目列表", problems_path %></li>
      <li><%= link_to "关系列表", problem_links_path %></li>
    <% end %>
  </ul>
</div>

